<!DOCTYPE html>
<html lang="en">
  <head>
  	{{ theme:partial name="metadata" }}
  </head>
  <body>
        {{ integration:analytics }}
        {{ theme:partial name="header"}}
        {{ theme:partial name="content_3-9"}}        

        <!-- Le javascript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        {{ theme:js file="bootstrap.js" }}
        {{ theme:js file="holder.js" }}
  	
  </body>
</html>
	
