/* 
    Document   : account.css
    Created on : 12/07/2012, 08:28:30
    Author     : EYT
    Description:
        Purpose of the stylesheet follows.
*/

.txtarea_small{
    width: 290px;
}

.input_small{
    width: 100px;
}

.itemBox{
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #D9D9D9;
    width: 300px;
}


.daytime_block
{
    background: #F1F1F1;
    padding: 5px;
    border: 1px solid #D9D9D9;
    border-radius: 5px;
    width: 250px;
    margin:5px 0 5px 0;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;    
}

.htmltag {
/*border: 1px solid #AAA;
-moz-border-radius: 2px;
-webkit-border-radius: 2px;*/
display: block;
float: right;
/*padding: 5px;*/
text-decoration: none;
/*background: #EEE;*/
color: gray;
/*margin-right: 5px;
margin-bottom: 5px;*/
font-family: helvetica;
font-size: 13px;
font-weight: bold;
}

.delTag {
bottom: 0;
right: 0;
background: url(../img/glyphicons/glyphicons-halflings.png) -305px 1px no-repeat;
width: 20px;
height: 20px;
text-indent: -9999px;
}

.subtitle{
    background-color: #F1F1F1; 
}

.titlePrev{
    margin-right: 20px;
}