<div class="span3">
    <div class="well sidebar-nav menu">
    <ul class="nav nav-list">
        <li class="nav-header">Eventos & Tecnologia</li>
        <li class="divider"></li>    
        <li class="nav-header">Salas de Reunión y Capacitacion</li>        
        {{ navigation:links group="sidebar-alqsala" class="active" }}  
        <li class="divider"></li>            
        <li class="nav-header">Videoconferencias</li>
        {{ navigation:links group="sidebar-vc" class="active" }}       
        <li class="divider"></li>            
        <li class="nav-header">Sala Virtual</li>
        {{ navigation:links group="sidebar-salavirtual" class="active" }}                
    </ul>
    </div><!--/.well -->
    <div class="well sidebar-nav menu">
    <ul class="nav nav-list">
        <li class="nav-header">Desarrollo</li>
        <li class="divider"></li>    
        <li class="nav-header">e-Learning</li>        
        <li><a href="#">Implementación de Moodle</a></li>  
        <li class="nav-header">Aplicaciones</li>        
        <li><a href="#">Desarrollo de Aplicaciones WEB</a></li>          
        <li><a href="#">Desarrollo de Juegos Interactivos</a></li>                  
    </ul>
    </div><!--/.well -->    
</div><!--/span-->
